<h2>Sinatra Template Default Page</h2>

<div class="content">
  <h2>File Uploader</h2>
  <form method="post" enctype="multipart/form-data" action="upload">
    <input type="file" name="myfile" />
    <br />
    <input type="submit" value="Upload!" />
  </form>
</div>
